.container {
	display: grid;
	/* display: inline-grid; */
	    font-size: 1em;
}

body {
	/* background: #fff; */
	background-image:url(backnote123456.jpg); /* 전체배경 */
	background-size:cover;
}

.container {

	grid-template-columns: repeat(auto-fill, minmax(15%, auto));

	grid-template-rows:0px 400px;

	gap: 100px;

	/*background-color:rgba(255,255,255,0.8);*/
	/* background-image:url(backnote1.png); */ /* ~6 png */
	/*background-image:url(backnote7.jpg);  /* 7~10 jpg */
	background-size:cover;
	border-radius:30px;

	margin-top:170px;
}
.item {
    position:relative;
    z-index: 1;
    margin-top:40px;
    margin-left:70px;
        /*background-color: orange;*/
}

.item:nth-child(1) { /* 일기작성 */
	/* 1번 라인에서 2칸 */
	grid-column: 1 / span 2;
	/* 2번 라인에서 3칸 */
	grid-row: 2 / span 2;
}
.item:nth-child(2) { /* 맞춤추천 */
	grid-column: 3 / span 2;
	grid-row: 2 / span 1;
}

.form-group{
    color: #000;
    /*border: solid 4px;*/
    /*border-radius: 10px;*/

    /*border-top-width:0px;*/
    /*border-bottom-width:0px;*/
}

textarea{
    width: 100%;
    height: 250px;
    color: #000;
    resize: none;
    font-size: 25px;
    /*border-style:solid;*/
    /*border-top-width:1px;*/
}

.item1{
    display:none;
    background-color:rgba(0, 0, 0, 0.9);
    margin-top:100px;
    margin-left:250px;
    position:absolute;
    height:600px;
    width:900px;
    z-index: 2;

    border: solid 4px;
    border-radius: 10px;
}

.box{
    /*background-color: #ffffff;*/
    margin-top:40px;
    border-radius: none;
    border: solid 0px;

    width: 100%;
    height: 390px;
}


.box2{
    border-radius: 10px;
    border: solid 5px;
}

#remsong{
position:relative;
margin-left:1010px;
border-radius: 20px;
}

button{
font-family:"MAPOBACKPACKING";
}