<!DOCTYPE HTML>
{% extends 'testbase.html' %}
{% load static %}

{% block content %}
<title>Generic - Urban by TEMPLATED</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Main -->
<div id="main">

    <!-- Section -->

    <!-- Section -->
    <section class="wrapper style1">
        <div class="inner">
            <header class="align-center">
                <h2>Errorless</h2>
                <p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
            </header>
            <div class="flex flex-3">
                <div class="col align-center">
                    <div class="image round fit">
                        <img src="{% static 'images/다운로드.png' %}" alt="" />
                    </div>
                    <p>Sed congue elit malesuada nibh </p>

                </div>

                <div class="col align-center">
                    <div class="image round fit">
                        <img src="{% static 'images/dog.jpg' %}" alt="" />
                    </div>
                    <p>Sed congue elit malesuada nibh</p>
                </div>

                <div class="col align-center">
                    <div class="image round fit">
                        <img src="{% static 'images/dog.jpg' %}" alt="" />
                    </div>
                    <p>Sed congue elit malesuada nibh</p>
                </div>

                <div class="col align-center">
                    <div class="image round fit">
                        <img src="{% static 'images/dog.jpg' %}" alt="" />
                    </div>
                    <p>Sed congue elit malesuada nibh </p>
                </div>
            </div>
        </div>
    </section>

</div>

{% endblock %}